.footer {
  grid-column: full-start / full-end;

  &__content {
    color: $color-white;
    background-color: $color-primary;
    font-size: 1.3rem;
    padding: 2.5rem;
    text-align: center;
  }
}
