.header {
  background-color: $color-primary;
  background-image: linear-gradient(
      to right,
      rgba(#2c497f, 0.9),
      rgba(#2c497f, 0.9)
    ),
    url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: $color-white;

  grid-column: full-start / full-end;
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(2, 1fr);

  &__content {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: center;
    text-align: center;

    &__text {
      font-size: 2.25rem;
      color: darken($color-white, 10%);
      width: 55%;
      margin: 0 auto;
      text-align: center;
      line-height: 1.5;
      @media (max-width: 37.5em) {
        padding: 0 2rem;
        width: 90%;
      }
    }
  }
}
