.nav-container {
  font-size: 1.8rem;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2rem;
  z-index: 3;
  background-color: rgba($color-primary, 0.9);

  @media (max-width: 37.5em) {
    flex-direction: column;
  }
}

.navbar {
  display: flex;

  @media (max-width: 37.5em) {
    justify-content: center;
  }

  &__item {
    list-style: none;
    text-align: center;
  }

  &__link:link,
  &__link:visited {
    color: #fff;
    padding: 1rem;
    margin: 0.5rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: $color-secondary;
      border-radius: 5px;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
  }
}
